/***********  ALBUM MODULE  *************/

@mixin album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-album {
  @include album;
  padding: 0 3%;
}

.modal-album-2col {
  @include album;
}

.modal-album {
  p {
    color: white;
  }
  img {
    width: 100%;
  }
}

/***********  CAPTION MODULES  *************/

.caption-default {
  border: 3px solid gray;
  color: white;
  text-align: center;
  word-wrap: normal;
  background: -moz-linear-gradient(-45deg, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
  background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: -o-linear-gradient(-45deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: -ms-linear-gradient(-45deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  background: linear-gradient(135deg, #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 );
  font-family: 'Raleway', sans-serif;
  opacity: .75;
}

/***********  FIND MODULE  *************/

.icon-search {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: white;
}
