

/*Base Styles*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}

body {
  font-size: 1em;
  line-height: 1;
}

button {
  background-color: MediumOrchid;
  font-size: 1.25em;
  color: white;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: MediumOrchid;
}

a:hover,
a:visited {
  color: #8a2aa2;
}
